<div class="container mt-5">
  <h1>Select Your Card</h1>
  <%= form_with(url: user_card_create_path, method: :post, local: true) do %>
    <div class="mb-3">
      <%= label_tag :name, "Name" %>
      <%= text_field_tag :name, nil, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= label_tag :card, "Card Number" %>
      <%= select_tag :card, options_for_select([1, 2, 3, 5, 8, 13, 21]), class: "form-select" %>
    </div>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
